@charset 'UFT-8';

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Galdeano&family=Goldman&family=Roboto&family=Saira&family=Yatra+One&display=swap');

/*
font-family: 'Amarante', cursive;
font-family: 'Galdeano', sans-serif;
font-family: 'Goldman', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Yatra One', cursive;
*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #f7f7f7;
    --cor1: #070707;
    /* --cora: #; */
    /* --corb: #; */
    /* --corc: #; */
    /* --cord: #; */
    /* --core: #; */
    --text1: 'Amarante', cursive;
    /* --text2: 'Roboto', sans-serif; */
    --textn: 'Galdeano', sans-serif;

}

html {
    font-family: var(--textn);
}

body {
    background-color: #FFFFFF;
}

#container {
    background-color: var(--cor0);
    max-width: 1200px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(15, 15, 15, 0.7);
}

/* CABEÇÁRIO */

header#cabecario {
    background-color: aqua;
}

ul#menu-principal {
    float: right;
    list-style: none;
    padding: 5px; 
}

ul#menu-principal li {
    display: inline-block;
}

ul#menu-principal li a {
    text-decoration: none;
    padding: 3px 7px;
    background-color: #c6c6c6;
    color: var(---cor1);
    border-radius: 0px 5px;
    border: 1px solid var(--cor1);
}

ul#menu-principal li a:hover {
    background-color: var(--cor1);
    color: #c6c6c6;
    border: 1px solid #c6c6c6;
}

div#banner {
    text-align: center;
}

.titulo1 {
    font-family: var(--text1);
}

/* SECTION */

section#principal {
    background-color: beige;
    float: left;
    width: 700px;
}

/* ASIDE */

aside#lateral {
    background-color: blanchedalmond;
    float: right;
    width: 500px;
}

/* RODAPÉ */

footer#rodape {
    clear: both;
    border-top: 1px solid var(--cor1);
}

.boxes-rodape {
    background-color: aqua;
    width: 200px;
    float: left;
    margin-right: 20px;
    padding: 15px;
}

.boxes-rodape ul {
    list-style: none;
}

.boxes-rodape ul li a {
    text-decoration: none;
}

#creditos {
    clear: both;
    background-color: #c6c6c6;
    color: var(--cor0);
    border-radius: 0px 0px 5px 5px;
    padding:3px;
    text-align: center;
    font-size: 10pt;
}